<form (ngSubmit)="onSubmit()" #form="ngForm">
    <!-- Step 1 -->
     <div class="container" *ngIf="currentStep === 0">
        <div class="top">
            <div class="head">
                <div class="title">
                    <h1>Personal info</h1>
                </div>
                <div class="description">
                    <p>
                        Please provide your name, email address and phone number.
                    </p>
                </div>
            </div>
            <div class="mid_inputs">
                <div class="input">
                    <div class="on_input">
                        <label for="name">Name</label>
                        <span *ngIf="name.touched && name.invalid" class="error_text">This field is required</span>
                    </div>
                    <input name="name" type="text" placeholder="e.g Stephen King" [(ngModel)]="formData.name" #name="ngModel" required>
                </div>
                <div class="input">
                    <div class="on_input">
                        <label for="email">Email Address</label>
                        <span *ngIf="email.touched && email.invalid" class="error_text">This field is required</span>
                        <span *ngIf="email.errors?.['email'] && email.touched" class="error_text">Must be a valid email address</span>
                    </div>
                    <input name="email" type="text" placeholder="e.g stephenking@lorem.com" [(ngModel)]="formData.email" #email="ngModel" required>
                </div>
                <div class="input">
                    <div class="on_input">
                        <label for="phone">Phone Number</label>
                        <span *ngIf="phone.touched && phone.invalid" class="error_text">This field is required</span>
                    </div>
                    <input name="phone" type="number" placeholder="e.g +1 234 567 890" [(ngModel)]="formData.phoneNumber" #phone="ngModel" required>
                </div>
            </div>
        </div>
        <div class="bottom">            
            <div class="home_btn">
                <button 
                (click)="nextStep()"
                type="button"
                class="cta-primary"
                [disabled]="form.invalid"
                >
                Next Step
                </button>
            </div>
        </div>
     </div>
    
    <!-- Step 2 -->
    <div class="container" *ngIf="currentStep === 1">
        <div class="top">
            <div class="head">
                <div class="title">
                    <h1>Select your plan</h1>
                </div>
                <div class="description">
                    <p>
                        You have the option of monthly of yearly billing
                    </p>
                </div>
            </div>
            <div class="mid">
                <div class="plans">
                    <div *ngFor="let planOption of planOptions"
                    [class.selected]="formData.plan.type === planOption.type"
                    class="plan-card" 
                    (click)="selectPlan(planOption.type)"
                    >
                        <!-- Monthly Plan Display -->
                        <div class="card" *ngIf="!isYearly">
                            <div class="planImage">
                                <img [src]="planOption.imagePath" alt="">
                            </div>
                            <div class="plan_name">
                                {{ planOption.name }}
                            </div>
                            <div class="plan_price">
                                ${{ planOption.monthlyPrice }}/mo
                            </div>
                        </div>

                        <!-- Yearly Plan Display -->
                        <div class="card" *ngIf="isYearly" >
                            <div class="planImage">
                                <img [src]="planOption.imagePath" alt="">
                            </div>
                            <div class="plan_name">
                                {{ planOption.name }}
                            </div>
                            <div class="plan_price">
                                $ {{ planOption.yearlyPrice }}/yr
                            </div>
                            <div class="plan_discount">
                                2 Months Free
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Billing Cycle Toggle -->
                <!-- <div class="billing-cycle-toggle">
                    
                    Toggle Switch
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="isYearly" (change)="toggleBillingCycle() />
                        <input type="text" [(ngModel)]="isYearly" (change)="toggleBillingCycle()">
                        <span class="slider">
                            <svg class="slider-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation">
                                <path fill="none" d="m4 16.5 8 8 16-16"></path>
                            </svg> 
                        </span>
                    </label>

                    <div class="billing-labels">
                        <span [class.active]="!isYearly">Monthly</span>
                        <span [class.active]="isYearly">Yearly</span>
                    </div>

                    <label>
                        <input type="radio" name="billingCycle" value="Monthly"
                        [(ngModel)]="formData.plan.billingCycle">
                        Monthly
                    </label>
                    <label>
                        <input type="radio" name="billingCycle" value="Yearly"
                        [(ngModel)]="formData.plan.billingCycle">
                        Yearly
                    </label>
                </div> -->

                <div class="toggle_switch"> 
                    <!-- Toggle Switch -->
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="isYearly" (change)="toggleBillingCycle()">
                        <span class="slider">
                            <svg class="slider-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"><path fill="none" d="m4 16.5 8 8 16-16"></path></svg> 
                        </span>
                    </label>

                    <!-- Toggle Label -->


                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="cta_">
                <button 
                (click)="previousStep()"
                type="button"
                class="go_back_button"                
                >
                Go Back
                </button>
            </div>
            <div class="cta_">
                <button 
                (click)="nextStep()"
                type="button"
                class="cta-primary"                
                >
                Next Step
                </button>
            </div>
        </div>
    </div>

    <!-- Step 3 -->
     <div class="container" *ngIf="currentStep === 2">
        <div class="top">
            <div class="head">
                <div class="title">
                    <h1>Personal info</h1>
                </div>
                <div class="description">
                    <p>
                        Add-ons help enhance your gaming experience
                    </p>
                </div>
            </div>
            <div class="mid">
                <div class="add_ons" *ngFor="let addOn of AvailableAddOns">
                    <div class="add_on"     
                    [ngClass]="{'selected': addOn.selected}"
                    (click)="toggleAddOnSelection(addOn)"
                    >
                    <div class="flex">
                        <div class="add_on_check">
                            <input type="checkbox" [(ngModel)]="addOn.selected" (click)="$event.stopPropagation()">                        
                        </div>
                        <div class="add_on_content">
                             <span class="add_on_name">{{ addOn.name }}</span>
                             <span class="add_on_desc">{{ addOn.desc }}</span>                        
                        </div>
                    </div>
                    <div class="add_on_price">
                        ${{ addOn.price }}/mo
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="cta_">
                <button 
                (click)="previousStep()"
                type="button"
                class="go_back_button"                
                >
                Go Back
                </button>
            </div>
            <div class="cta_">
                <button 
                (click)="nextStep()"
                type="button"
                class="cta-primary"                
                >
                Next Step
                </button>
            </div>
        </div>
     </div>

    <!-- Step 4 -->
     <div class="container" *ngIf="currentStep === 3">
        <div class="top">
            <div class="head">
                <div class="title">
                    <h1>Finishing up</h1>
                </div>
                <div class="description">
                    <p>
                        Double-check everything looks OK before continuing
                    </p>
                </div>
            </div>
            <div class="mid">
                .
            </div>
        </div>
     </div>

</form>