<div class="container">
    <div class="form_modes">
        <div class="single_mode" id="mode1">
            <div class="left">
                <span>1</span>
            </div>
            <div class="right">
                <h3>STEP 1</h3>
                <h2>YOUR INFO</h2>
            </div>
        </div>
        <div class="single_mode" id="mode2">
            <div class="left">
                <span>2</span>
            </div>
            <div class="right">
                <h3>STEP 2</h3>
                <h2>SELECT PLAN</h2>
            </div>
        </div>
        <div class="single_mode" id="mode3">
            <div class="left">
                <span>3</span>
            </div>
            <div class="right">
                <h3>STEP 3</h3>
                <h2>ADD-ONS</h2>
            </div>
        </div>
        <div class="single_mode" id="mode4">
            <div class="left">
                <span>4</span>
            </div>
            <div class="right">
                <h3>STEP 4</h3>
                <h2>SUMMARY</h2>
            </div>
        </div>
    </div>
</div>
