.container{    
    background-color: #EEF5FF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: bisque;
    display: flex;
    height: 90%;
    width: 80%;
    border-radius: 1.3rem;
    padding: 1.4rem;
}

app-modal-tracker{
    width: 30%;
}